@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500&display=swap");
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Mulish', sans-serif;
  background-color: #333;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  min-height: 100vh;
  padding: 50px 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fafafa;
  -webkit-transition: -webkit-transform .5s linear;
  transition: -webkit-transform .5s linear;
  transition: transform .5s linear;
  transition: transform .5s linear, -webkit-transform .5s linear;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.container.show-nav {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.container .navbar-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.container .navbar-container .navbar {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #ff7878;
  -webkit-transition: -webkit-transform .5s linear;
  transition: -webkit-transform .5s linear;
  transition: transform .5s linear;
  transition: transform .5s linear, -webkit-transform .5s linear;
}

.container .navbar-container .navbar button {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background-color: transparent;
  border: none;
  font-size: 26px;
  color: #fff;
  cursor: pointer;
}

.container .navbar-container .navbar button:focus {
  outline: none;
}

.container .navbar-container .navbar button#close {
  left: 60%;
}

.container .navbar-container .navbar button#bars {
  top: 60%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.container .content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.container .content__title {
  color: #333;
}

.container .content .author {
  font-style: italic;
  color: #555;
  font-size: 13px;
  margin-bottom: 25px;
  display: inline-block;
}

.container .content p {
  margin-bottom: 25px;
}

.container .content h4 {
  font-size: 22px;
  margin-bottom: 25px;
}

.container .content .image {
  width: 100%;
  margin-bottom: 20px;
}

.container.show-nav .navbar {
  -webkit-transform: rotate(-70deg);
          transform: rotate(-70deg);
}

.container.show-nav + nav li {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  margin-bottom: 25px;
  -webkit-transition: -webkit-transform .4s ease-in;
  transition: -webkit-transform .4s ease-in;
  transition: transform .4s ease-in;
  transition: transform .4s ease-in, -webkit-transform .4s ease-in;
}

nav ul li:nth-child(2) {
  margin-left: 15px;
}

nav ul li:nth-child(3) {
  margin-left: 30px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

nav ul li a i {
  margin-right: 10px;
}
/*# sourceMappingURL=main.css.map */