@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500&display=swap');

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Mulish', sans-serif;
    background-color: #333;
    
    
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    min-height: 100vh;
    padding: 50px 100px;
    box-sizing: border-box;
    background-color: #fafafa;
    transition: transform .5s linear;
    transform-origin: top left;

    &.show-nav{
        transform: translate(-20deg);
    }

    .navbar-container{
        position: fixed;
        top: -100px;
        left: -100px;
        
        .navbar{
            position: relative;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background-color: #ff7878;
            transition: transform .5s linear;

            button{
                position: absolute;
                top: 50%;
                left: 50%;
                height: 100px;
                background-color: transparent;
                border: none;
                font-size: 26px;
                color: #fff;
                cursor: pointer;

                &:focus{
                    outline: none;
                }

                &#close{
                    left: 60%;
                }

                &#bars{
                    top: 60%;
                    transform: rotate(90deg);
                    transform-origin: top left;
                }
            }
        }
    }

    .content{

        margin-left: auto;
        margin-right: auto;

        &__title{
            color: #333;
        }

        .author{
            font-style: italic;
            color: #555;
            font-size: 13px;
            margin-bottom: 25px;
            display: inline-block;
        }

        p{
            margin-bottom: 25px;
        }

        h4{
            font-size: 22px;
            margin-bottom: 25px;
        }

        max-width: 1000px;
        

        .image{
            width: 100%;
            margin-bottom: 20px;
        }
    }
}